body{
  width: 100%;
  margin: 0;
}

a {
    text-decoration: none;
    text-underline: none;
    color: white;
}
ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    background-image: url('../images/галлерея/gostinnaya.jpg');
    background-color: darkgray;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 1.5s;
}

header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
    z-index: 2;
}

.header-wrapper{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    color: white;
    justify-content: space-between;
    height: 80px;
    text-transform: uppercase;
    font-size: .9rem;
    position: relative;
    z-index: 3;
    font-family: 'Circle-Regular';
}
.logo{
    max-width: 55px;
    height: auto;
    cursor: pointer;
}
.contact-info{
    display: flex;
    margin-right: 100px;
}
.call-back{
    margin-left: 20px;
    cursor: pointer;
}
.nav-menu{
    display: flex;
}
/**/
.nav-menu li{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    border-left: 2px solid transparent;
}
.nav-menu li:hover{
    background-color: #636363;
    border-left: 2px solid #ffac30;
}
.call-back:hover{
    color: #f2af29;
}
.header-content{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    z-index: 3;
    color: white;
    font-family: "Circle-Regular";
}
.header-text{
    width: 58%;
}
.header-text-description{
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: .85rem;
    line-height: 0px;
}
.header-text-title{
    font-family: EuropeExt-Bold;
    text-transform: uppercase;
    font-size: 2rem;
}
.header-text-text{
    width: 70%;
}
.header-button{
    display: flex;
    width: 270px;
    height: 50px;
    align-items: center;
    cursor: pointer;

}

.about-company-container{
    display: flex;
    flex-direction: row;
}

.arrow-button{
    width: 20%;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: .35s;
}
.arrow-button img{
    max-width: 20px;
    height: auto;
    padding: 5px;
}
.header-button-text{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffac30;
    height: 50px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
}
.header-button:hover .arrow-button{
    width: 40%;
}
.about-company-text-button:hover .arrow-button{
    width: 40%;
}
.header-form-wrapper{
    width: 35%;
    position: relative;
    padding: 15px;
}
.header-form-wrapper:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(48,44,41,.75);
    z-index: 1;
}
.header-form{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-form-title{
    font-size: 1.7rem;
    color: #da9633;
    text-align: center;
    text-transform: uppercase;
}
.header-form form input{
    width: 90%;
    border: none;
    margin-bottom: 10px;
    background: none;
    font-family: Circle-Regular;
    border-bottom: 1px solid #949494;
    padding-left: 10px;
    padding-bottom: 5px;
    outline:none;
    color: white;
    font-size: 1rem;
}

.form-button{
    width: 90%;
    margin-top: 20px;
    background-color: transparent;
    border: 1.5px solid #da9633;
    color: #da9633;
    height: 45px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Circle-Regular;
    font-size: 1rem;
    font-weight: bold;
}
.form-button:hover{
    background-color: #da9633;
    color: white;
}
.privacy-wrapper{
    width: 70%;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.privacy-text{
    color: #949494;
}
.header-bottom{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.social-icons-wrapper{
    width: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
.social-icons-wrapper img{
    max-width: 20px;
    height: 20px;
    background-color: #535353;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s;
}
.social-icons-wrapper img:hover{
    transform: scale(1.2);
}

.slider-controls-wrapper{
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    z-index: 5;
    color: white;
    margin-right: 7.5%;
}
.slider-controls-wrapper div{
    border-bottom: 1px solid white;
    text-align: center;
    font-weight: bold;
    font-family: Circle-Regular;
}

.container-advantages{
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 168px;
    display: flex;
    position: relative;
    margin-bottom: 170px;
    font-family: Circle-Regular;
}
.container-advantages img{
    width: 552px;
    height: 580px;
}
.container-name{
    margin-bottom: 25px;
    line-height: 88%;
    margin-top: 48px;
    color: black;
    font-family: EuropeExt-Bold;
    font-size: 1.7rem;
    width: 80%;
    text-transform: uppercase;
}
.container-describe{
    width: 395px;
    height: 144px;
    margin-bottom: 107px;
}
.info-container{
    font-family: Circe-Light;
    font-size: 17px;
    width: 395px;
    height: 63px;
}
.advantages{
    width: 100%;
    margin: 0px auto;
}
.info-advantages{
    width: 315px;
    margin-bottom: 57px;
}
.article-name{
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.article-info{
    font-family: Circe-Light;
}

.top-photo{
    margin-left: 27px;
    margin-right: 60px;
}
.bottom-photo{
    position: absolute;
    left: 325px;
    bottom: 145px;
}
.advantages-after-photo{
    margin-top: 96px;
}
.about-company-wrapper{
    width: 100%;
    height: auto;
    background-image: url('../images/галлерея/gostinnaya.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.about-company-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
    z-index: 1;
}
.about-company{
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    z-index: 2;
    color: #9c9c9c;
    font-family: Circle-Regular;
}
.about-company-text{
    width: 50%;
    height: auto;
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
}
.about-company-text-header{
    font-size: 2rem;
    font-family: EuropeExt-Bold;
    text-transform: uppercase;
    color: white;
}

.about-company-images {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4;
    margin-left: 25px;
}

.black-square{
    width: 70%;
    height: 400px;
    background-color: black;
    opacity: .7;

}
.about-company-image{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    position: absolute;
    z-index: 3;
    background-image: url('../images/типы ремонта/about-company-image-remont.jpg');
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
    background-size: cover;
    margin-left: 40px;
}
.about-company-images p{
    position: absolute;
    z-index: 4;
    padding: 15px;
    background-color: #303030;
    font-family: Circle-Regular;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.about-company-numbers{
    width: 100%;
    height: auto;
    padding: 20px;
    border-top: 1px solid #565655;
    position: relative;
    z-index: 3;
    margin-top: 30px;
    margin-bottom: 50px;
}
.about-company-text-button{
    display: flex;
    width: 270px;
    height: 50px;
    align-items: center;
    cursor: pointer;
    color: white;
}
.about-company-numbers{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.numbers-block{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.numbers-block p{
    margin: 0;
}
.numbers-block-number{
    font-size: 2.5rem;
    color: #ffac30;
    font-family: EuropeExt-Bold;

}
.numbers-block-description{
    text-transform: uppercase;
}
.remont-types-wrapper{
    width: 100%;
    background-color: #1e1e1e;
}
.remont-types{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    font-family: Circle-Regular;
    color: #9c9c9c;
    flex-direction: column;
}
.remont-types-blocks-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.remont-types-text-header{
    font-family: EuropeExt-Bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}
.remont-types-text-description{
    font-family: Circle-Regular;
    font-size: 1rem;
    width: 40%;
}
.remont-types-block-wrapper-one{
    width: 30%;
    background-image: url('../images/галлерея/gostinnaya.jpg');
    background-color: darkgray;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 650px;
}
.remont-types-block-wrapper-two{
    width: 30%;
    background-image: url('../images/галлерея/gostinnaya-2.jpg');
    background-color: darkgray;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 650px;
}
.remont-types-block-wrapper-three{
    width: 30%;
    background-image: url('../images/галлерея/gostinnaya-3.jpg');
    background-color: darkgray;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 650px;
}
.remont-types-block-wrapper-one:hover{
    box-shadow: 0px 0px 10px 1px #9d7432;
    cursor: pointer;
    color: white;
}
.remont-types-block-wrapper-one:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
    z-index: 2;
}
.remont-types-block-wrapper-two:hover{
    box-shadow: 0px 0px 10px 1px #9d7432;
    cursor: pointer;
    color: white;
}
.remont-types-block-wrapper-two:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
    z-index: 2;
}
.remont-types-block-wrapper-three:hover{
    box-shadow: 0px 0px 10px 1px #9d7432;
    cursor: pointer;
    color: white;
}
.remont-types-block-wrapper-three:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
    z-index: 2;
}

.remont-types-block-one{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    height: auto;
}
.remont-types-block-two{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    height: auto;
}
.remont-types-block-three{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    height: auto;
}
.remont-types-block-header{
    font-family: Circle-bold;
    font-size: 1rem;
    color: #da9633;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 20px;
    border-bottom: 1px solid #636363;
}








.remont-types-button{
    display: flex;
    width: 270px;
    height: 50px;
    align-items: center;
    cursor: pointer;
}

.remont-types-button-text{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffac30;
    height: 50px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    color: white;
}
.remont-types-button:hover .arrow-button{
    width: 40%;
}
.remont-types-list p{
    margin: 11px;
}
.show-more{
    color: #da9633;
    text-decoration: underline;
    cursor: pointer;
    font-size: .8rem;
}
.show-more-text{
    display: none;
    flex-direction: column;
}
.remont-types-block-price{
    width: 100%;
    color: #da9633;
    font-family: Circe-Light;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #da9633;
    border-bottom: 1px solid #da9633;
}
.remont-types-oreder-calculation{
    color: #da9633;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}
.free-calculate-wrapper{
    background-image: url('../images/галлерея/gostinnaya.jpg');
    background-color: darkgray;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.free-calculate-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: .9;
    z-index: 2;
}

.calculator-header-flex{
    display: flex;
}

.free-calculate{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}
.free-calculate-text{
    width: 50%;
}
.free-calculate-image{
    width: 45%;
}
.free-calculate-form{
    width: 100%;
}

.free-calculate-header{
    font-family: EuropeExt-Bold;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.free-calculate-text-description{
    font-family: Circe-Light;
    font-size: 1.1rem;
}
.pricelist-button{
    display: flex;
    width: 270px;
    height: 50px;
    align-items: center;
    cursor: pointer;
    margin-top: 25px;

}
.download-button-image{
    width: 20%;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: .35s;
}
.download-button-image img{
    width: 20px;
    height: auto;
    padding: 5px;
}
.download-button-text{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffac30;
    height: 50px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    color: white;
    font-family: Circle-Regular;
}
.free-calculate-form-wrapper{
    width: 100%;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 100px;
}
.free-calculate-form-wrapper:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/bg-форма.png");
    z-index: 1;
}
.free-calculate-form{
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
}
.free-calculate-form-text{
    width: 27%;
    display: flex;
    flex-direction: column;
    font-family: Circle-Regular;
    color: #afafac;
}
.free-calculate-from-header{
    color: #da9633;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.free-calculate-form-description{
    width: 95%;
    margin-top: 0;
}
.free-calculate-form form{
    width: 73%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.free-calculate-form form input{

    width: 250px;
    height: 25px;
    border: none;
    margin-bottom: 10px;
    background: none;
    font-family: Circle-Regular;
    border-bottom: 1px solid #949494;
    padding-left: 10px;
    padding-bottom: 5px;
    outline:none;
    color: white;
    font-size: 1rem;
    margin-right: 30px;
}
.call-me-button{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.free-calculate-container{
    display: flex;
    flex-direction: row;
}

.free-calculate-form-button{
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border: 1.5px solid #da9633;
    color: #da9633;
    height: 45px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Circle-Regular;
    font-size: 1rem;
    font-weight: bold;
}
.free-calculate-form-privacy-wrapper{
   display: flex;
   align-items: center;
}
.free-calculate-form-privacy-text{
    width: 100%;
    color: #949494;
    font-size: .7rem;
}
.free-calculate-form-privacy-text{
    font-family: Circle-Regular;
    font-size: .65rem;
}

.calculator-wrapper{
    width: 100%;
    background-image: url('../images/галлерея/gostinnaya.jpg');
    background-color: darkgray;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 1.5s;
    /*height: 90vh;*/

}

.calculator-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.9);
    z-index: 2;
}
.calculator-block{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    color: #636363;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.calculator{
    width: 50%;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
}
.calculator-header{
    color: white;
    font-family: EuropeExt-Bold;
    font-size: 1.7rem;
    width: 80%;
    text-transform: uppercase;
}
.left-part-calculator{
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}
.left-part-calculator input{
    transform:scale(1.3);
}
.left-part-calculator p {
    display: flex;
    /* position is not required */
}



.left-part-calculator-header{
    font-family: Circle-bold;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}
.right-part-calculator-header{
    font-family: Circle-bold;
     color: white;
     font-size: 1rem;
     text-transform: uppercase;
 }
.building-type{
    display: flex;
    flex-direction: column;
}
.remont-type{
    display: flex;
    flex-direction: column;
}
.right-part-calculator{
    width: 60%;
    margin-left: 150px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}


.label{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.label-text{
    margin-left: 10px;
    cursor: pointer;
    font-family: Circle-Regular;
    text-transform: lowercase;
}
.radio-button{
    position: absolute;
    opacity: 0;
}
.fake-span{
    position: relative;
    display: flex;
    width: 18px;
    height: 18px;
    border: 1px solid #da9633;
    cursor: pointer;
}
.fake-span::before{
    content: "";
    position: absolute;
    display: flex;
    width: 19px;
    height: 20px;
    background-color: #da9633;
    transition: .2s;
    opacity: 0;
}
.radio-button:checked + .fake-span::before{
    opacity: 1;
}




.rooms-type{
    display: flex;
    flex-direction: column;
}
.room-size{
    display: flex;
    flex-direction: column;
    margin-top: 15px;


}
.room-size-input-wrapper{
    width: 100%;
    height: 35px;
    display: flex;
    color: white;
}
.room-size-input{
    width: 70%;
    /*height: 30px;*/
    padding-left: 10px;
    background-color: #232323;
    border: none;
    outline: none;
    color: white;
    font-family: Circle-Regular;
    font-size: 1rem;
    /*opacity: .7;*/
}
.room-size-input-button{
    width: 30%;
    cursor: pointer;
    background-color: #da9633;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    font-family: Circle-Regular;
}


.calculator-result-wrapper{
    width: 100%;
    display: flex;
    margin-top: 40px;
    margin-bottom: 70px;
}
.remont-price-header, .deadlines-header{
    padding: 10px;
    background-color: #303030;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-family: Circle-Regular;
    text-align: center;
}
.remont-price-text, .deadlines-text{
    color: #da9633;
    font-family: EuropeExt-Bold;
    font-size: 1.7rem;
    text-align: center;
}
.deadlines-wrapper{
    margin-left: 25%;
}
.calculator-form-main-wrapper{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.form-label{
    text-align: center;
    color: #898989;
    font-family: Circe-Light;
}
.calculator-form-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 15px;
}
.calculator-form-wrapper:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(48,44,41,.75);
    z-index: 1;
}
.calculator-form{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calculator-form-title{
    font-size: 1.7rem;
    color: #da9633;
    text-align: center;
    text-transform: uppercase;
    font-family: Circle-Regular;
}
.calculator-form form input{
    width: 90%;
    border: none;
    margin-bottom: 10px;
    background: none;
    font-family: Circle-Regular;
    border-bottom: 1px solid #949494;
    padding-left: 10px;
    padding-bottom: 5px;
    outline:none;
    color: white;
    font-size: 1rem;
}

.form-button{
    width: 90%;
    margin-top: 20px;
    background-color: transparent;
    border: 1.5px solid #da9633;
    color: #da9633;
    height: 45px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Circle-Regular;
    font-size: 1rem;
    font-weight: bold;
}
.form-button:hover{
    background-color: #da9633;
    color: white;
}







.portfolio{
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.container-portfolio{
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 130px;
    transition: 2s;

}

.portfolio-name{
    color: black;
    font-family: EuropeExt-Bold;
    font-size: 1.7rem;
    width: 80%;
    text-transform: uppercase;
}

.container-content{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.card{
    margin-top: 5px;
    width: 390px;
    height: 270px;
    position: relative;
    transition: 2s;

}
.show-more-card{
    width: 100%;
    display: none;
    margin-bottom: 100px;
    justify-content: space-around;
}



.info-card {
    display: none;
    position: absolute;
    top: 10px;
    width: 174px;
    padding-bottom: 2px;
    padding-top: 1px;
    background: #303030;
    text-align: center;
    height: 53px;
    z-index: 3;
    cursor: pointer;
    transition: 2s;
}
.project-name{
    padding-top: 10px;
    margin: 0px;
    color: white;
    font-family:Circle-Regular;
    font-size: 14px;
    text-transform: uppercase;
}

.project-area{
    padding-top: 3px;
    margin: 0px;
    font-size: 16px;
    text-transform: uppercase;
    color:#FFAC30;
}


.button-info{
    display: none;
    color: white;
    position: absolute;
    font-family:Circle-Regular ;
    left: 65px;
    top: 130px;
    width: 201px;
    height: 41px;
    border: 1px solid #FFAC30;
    opacity: 1;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}


.card-image{
    width: 390px;
    height: 270px;
}

.dark{
    display: none;
    background-color: #191816a3;
    z-index: 1;
    width: 390px;
    height: 270px;
    position: absolute;
    top: 0px;
    transition: 2s;
}

.card:hover .dark{
    display: block;
}
.card:hover .info-card{
    display: block;
}
.card:hover .button-info{
    display: block;
}

.button-info:hover{
    background: #FFAC30;
}

.remont-types-button-portfolio{
    display: flex;
    width: 270px;
    height: 50px;
    align-items: center;
    cursor: pointer;
    /*margin-left: 37%;*/
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 140px;
}


.remont-types-button-text-portfolio{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffac30;
    height: 50px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    color: white;
}
.remont-types-button-portfolio:hover .arrow-button{
    width: 40%;
}

.portfolio-card-wrapper{
    width: 1200px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px 1px gray;
    z-index: 5;
    display: none;
    flex-direction: column;
    height: auto;
    margin-top: 50px;
    flex-wrap: wrap;

}
.cancel-portfolio{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 28px;
    cursor: pointer;
}
.portfolio-card-title-wrapper{
    width: 35%;
    background-color: #303030;
    display: flex;
    margin-top: 30px;
    color: white;
    justify-content: center;
    text-transform: uppercase;
}
.portfolio-card-title{
    display: flex;
    font-family: EuropeExt-Bold;
    font-size: 1.3rem;
}
.portfolio-card-title-remont-type{
    font-family: Circe-Light;
    font-size: 1.2em;
}
.portfolio-card{
    width: 90%;
    margin: 0 auto;
    font-family: Circle-Regular;
    display: flex;
    justify-content: space-between;
}
.portfolio-card-slider-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.portfolio-card-slider-main-image{
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
}
.portfolio-card-slider-main-image img{
    width: 100%;
}
.portfolio-card-slider-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.portfolio-card-slider-images img{
    width: 32%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.portfolio-card-slider-count{
    /*display: flex;*/
    margin: 0 auto;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    z-index: 5;
    color: black;
    margin-bottom: 50px;

    /*margin-right: 7.5%;*/
}

.portfolio-card-slider-count div{
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-family: Circle-Regular;

}
.portfolio-card-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.portfolio-card-youtube iframe{
    width: 100%;
    height: 350px;
}
.portfolio-card-text{
    font-size: 1rem;
    font-family: Circe-Light;
}
.portfolio-card-info-info{
    width: 80%;
    margin: 0 auto;
    background-color: #303030;
    color: #f2af29;
    display: flex;
    justify-content: space-around;
    font-family: EuropeExt-Bold;
    font-size: 1.3rem;
    margin-top: 10px;
}
.portfolio-card-info-info p{
    margin: 15px;
}

.container-steps{
    width: 100%;
    background-image: url("../images/bg-шаги.png");
}

.container-content-steps{
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 100px;
}

.content-info{
    font-family: EuropeExt-Bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    padding-top: 106px;
    padding-bottom: 53px;
    max-width: 850px;
}

.content-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.free-calculate-wrapper .calculator-form-main-wrapper{
    display: none;
}

.steps{
    margin-top: 29px;
    width: 345px;
    height: 369px;
    position: relative;
    background-color:#2B2B2B;
    padding-left: 26px;
}

.steps-icon{
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 53px;
    width: 71px;
    height: 71px;
    box-sizing: border-box;
    box-shadow:   0 0 10px #FFAC30;
}

.steps-number{
    position: absolute;
    right: 0px;
    top: 0px;
    font-family:EuropeExtBold;

}

.steps-name{
    width: 252px;
    color:#FFFFFF;
    font-family: Circe-Light;
    font-size: 15px;
    text-transform: uppercase;
}

.steps-info{
    width: 285px;
    color:#FFFFFF;
    font-family: Circe-Light;
    font-size: 15px;
}

.feedback-option{
    margin-top: 10px;
    color: #da9633;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.partners{
    width: 100%;
}

.container-partners{
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 180px;
    padding-bottom: 130px;
}

.container-partners__name{
    color: black;
    font-family: EuropeExt-Bold;
    font-size: 1.7rem;
    width: 80%;
    text-transform: uppercase;
}

.container-partners__info{
    font-family: Circe-Light;
    font-size: 1rem;
    width: 512px;
}

.container-content-partners{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.container-content-partners img{
    margin-top: 80px;
    width: 253px;
}

footer{
    width: 100%;
    background-color:#303030
}

.map{
    width: 100%;
    position: relative;
    background: url("../images/bg-шаги.png");
}

.map-container-info{
    max-width: 1200px;
    margin: 0px auto;
    z-index: 3;
}

.map-info{
    width: 533px;
    height: 257px;
    padding-left: 31px;
    background-color: #303030;
    top: 60px;
    position: absolute;
}

.contact-name{
    font-family: EuropeExt-Bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 29px;
}

.container-contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
}

.describe-name{
    font-family: Circle-bold;
    font-size: 1rem;
    color: #da9633;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}

.info-area{
    font-family: Circle-Regular;
    color: #9c9c9c;
    margin: 0px;
    font-size: 14px;
}

.info-icons{
    display: flex;
}

.info-icons img{
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-right: 19px;
}

.info-card-footer{
    margin-bottom: 31px;
    width: 245px;
}

.map iframe{
    margin-left: 40%;
}

.dark-background{
    background-color: #191816a3;
    width: 60%;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 630px;
}

footer .free-calculate-form-wrapper{
    position: absolute;
    bottom: 0px;
    max-width: 1200px;
    margin-bottom: 0px;

}

.footer-info-content{
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
}

.content-footer-describe{
    color:#BABABA;
    width: 140px;
    font-size: 12px;
    font-family: Circe-Light;
    margin-top: 72px;
    margin-right: 74px;
}

.info-area:hover{
    color: whitesmoke;
    cursor: pointer;
}

.icon-second{
    display: none;
}

.icons:hover .icon-second{
    display: block;
}

.icons:hover .icon-first{
    display: none;
}

.container-content-partners img {
    opacity: 0.7;
}

.container-content-partners img:hover {
    opacity: 1;
    transition: 0.5;
}

.nav-describe{
    font-family:Circe-Light;
    font-size: 16px;
    color: #929292;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 50px;
    text-align: left;
}

.nav-menu-footer{
    display: flex;
}

.point-footer{
    background-color: #3B3B3B;
    width: 2px;
    height: 151px;
    margin-top: 38px;
    margin-left: 44px;
    margin-right: 44px;
}


.footer-navigation{
    display: flex;
    flex-direction: column;
    width: 140px;
}

.menu-footer-li{
    text-transform: capitalize;
    color: #929292;
    font-family: Circe-Light;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-footer-li:hover{
    color:whitesmoke;
    cursor: pointer;
}

.button-icons{
    margin-top: 79px;
    margin-left: 20px;
}

.button-footer{
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 17px;
    width: 251px;
    /*height: 16px;*/
    border: 1px solid #DA9633;
    color:#DA9633;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family:Circle-bold;
    margin-bottom: 22px;
}

.button-icons .info-icons{
    margin-left: 42px;
    width: 31px;
    height: 31px;
}

@media(max-width: 1440px) {
    .portfolio-card-wrapper{
        width: 1024px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 0px 10px 1px gray;
        z-index: 5;
        display: none;
        flex-direction: column;
        height: auto;
        margin-top: 50px;

    }
    .container-advantages {
        max-width: 1024px;
    }

    .info-advantages {
        width: 200px;
    }

    .info-container {
        width: 380px;
    }
    .top-photo {
        margin-left: 0px;
    }

    .bottom-photo {
        left: 315px;
        bottom: 395px;
    }

    .advantages-describe{
        margin-left: 10px;
    }


    .about-company {
        max-width: 1024px;
    }

    .remont-types {
        max-width: 1024px;
    }

    .remont-types-text-description {
        width: 60%;
    }

    .free-calculate {
        max-width: 1024px;
    }

    .calculator-block {
        max-width: 1024px;
    }

    .calculator-header {
        width: 95%;
    }

    .calculator-block {
        justify-content: space-around;
    }

    .container-portfolio {
        max-width: 1024px;
    }

    .container-content {
        max-width: 1024px;
    }

    .card {
        margin-top: 5px;
        width: 332px;
    }

    .dark {
        width: 100%;
    }

    .card-image {
        width: 332px;
    }

    .container-content-steps {
        max-width: 1024px;
    }

    .steps {
        margin-top: 29px;
        width: 290px;
    }

    .steps-number {
        width: 200px;
    }

    .container-partners {
        max-width: 1024px;
    }

    .footer-info-content {
        max-width: 1024px;
    }

    .content-footer-describe {
        display: none;
    }

    .nav-menu-footer {
        margin-left: 10px;
    }

    footer .free-calculate-form-wrapper {
        max-width: 1024px;
        padding-right: 0px;
        padding-left: 0px;

    }


    footer  .free-calculate-form-wrapper:after {
        width: 1024px;
    }

    .free-calculate-form form {
        width: 70%;
    }

    .map-info {
        width: 510px;
    }

    .free-calculate-image img{
        width: 400px;
    }

    .header-wrapper {
        width: 1024px;
    }

    .header-content {
        width: 1024px;
    }

    .header-bottom {
        width: 1024px;
    }

    .free-calculate-text {
        margin-bottom: 40px;
    }

    .remont-types {
        width: 1024px;
    }

}

@media(max-width: 1024px) {
    .show-more-card{
    flex-direction: column;
}
    .container-portfolio{
        width: 768px;
    }
    .portfolio-card-info-info{
        width: 100%;
        font-size: 1rem;
        margin-bottom: 50px;
    }
    .portfolio-card-wrapper{
        width: 768px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 0px 10px 1px gray;
        z-index: 5;
        display: none;
        flex-direction: column;
        height: auto;
        margin-top: 50px;

    }
    .portfolio-card-title{
        display: flex;
        font-family: EuropeExt-Bold;
        font-size: 1rem;
    }
    .portfolio-card-title-remont-type{
        font-family: Circe-Light;
        font-size: .9rem;
    }

    .about-company-image {
        width: 160%;
    }
    .header-text {
        /*margin-left: 20px;*/
    }

    .content-info {
        margin-left: 15px;
    }

    .container-partners__name {
        margin-left: 1%;
    }

    .container-partners__info {
        margin-left: 1%;
    }

    .portfolio-name {
        margin-left: 1%;
    }

    .remont-types-text{
        padding-left: 30px;
    }

    .header-wrapper {
        width: 768px;
        height: 145px;
    }

    .contact-info  {
        display: none;
    }

    .header-content {
        width: 768px;
        /*flex-direction: column;*/
    }

    .header-text {
        margin-left: 20px;
    }

    .header-form-wrapper {
        width: 45%;
        margin: 0px auto;
    }

    .header-bottom {
        width: 768px;
    }

    .social-icons-wrapper {
        margin-left: 60px;
    }

    .container-advantages {
        max-width: 768px;
        flex-direction: column;
    }

    .info-advantages {
        width: 320px;
    }

    .container-advantages img {
        margin: 0px auto;
    }

    .advantages-after-photo {
        margin: 0px auto;
        margin-top: 40%;
    }


    .info-advantages {
        margin: 0px auto;
    }

    .advantages-describe {
        margin-left: 10px;
        margin-bottom: 45px;
    }

    .bottom-photo {
        left: -80px;
        bottom: 310px;
    }

    .container-describe {
        height: 170px;
    }

    .info-advantages-flex{
        display: flex;
    }

    .advantages-after-photo {
        margin: 0px auto;
        margin-top: 20%;
        display: flex;
        flex-wrap: wrap;
    }

    .about-company {
        max-width: 768px;
    }

    .about-company-container{
        display: flex;
        flex-direction: column;
    }

    .about-company-text {
        margin-left: 20px;
        width: 90%;
    }

    .about-company-images {
        max-width: 768px;
        margin-left: 20px;

    }


    .about-company-numbers {
        margin-top: 230px;
    }

    .remont-types {
        width: 768px;
    }

    .remont-types-button {
        display: flex;
        width: 215px;
    }

    .free-calculate {
        max-width: 768px;
    }

    .free-calculate-container{
        display: flex;
        flex-direction: column;
    }

    .free-calculate-text {
        width: 88%;
        margin-left: 20px;
    }

    .free-calculate-image img {
        width: 500px;
        margin-left: 110px;
    }

    .free-calculate-wrapper .calculator-form-main-wrapper{
        display: flex;
    }

    .free-calculate-form-wrapper{
        display: none;
    }

    .free-calculate-wrapper .calculator-form-main-wrapper {
        width: 50%;
        margin: 0px auto;
        margin-bottom: 40px;
    }

    .calculator-block {
        max-width: 768px;
        flex-direction: column;
    }

    .calculator {
        width: 90%;
    }

    .calculator-form-main-wrapper {
        width: 60%;
        margin-bottom: 40px;
    }

    .container-content {
        justify-content: space-evenly;
    }

    .portfolio-name {
        margin-left: 4%;
    }

    .nav-menu-footer {
        display: none;
    }

    .footer-info-content {
        display: flex;
        justify-content: space-evenly;
    }

}

@media(max-width: 768px) {
    .card{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .show-more-card{
        flex-direction: column;
    }
    .card-image{
        width: 100%;

    }
    .portfolio-card{
        flex-direction: column;
    }
    .container-portfolio{
        width: 425px;
    }
    .portfolio-card-info-info{
        width: 100%;
        font-size: 1rem;
        margin-bottom: 50px;
    }
    .portfolio-card-title-wrapper {
        width: 80%;
    }
    .portfolio-card-wrapper{
        width: 425px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 0px 10px 1px gray;
        z-index: 5;
        display: none;
        flex-direction: column;
        height: auto;
        margin-top: 50px;

    }
    .portfolio-card-title{
        display: flex;
        font-family: EuropeExt-Bold;
        font-size: 1rem;
    }
    .portfolio-card-title-remont-type{
        font-family: Circe-Light;
        font-size: .9rem;
    }
    .portfolio-card-slider-wrapper{
        width: 100%;
    }
    .portfolio-card-info{
        width: 100%;
    }

    .right-part-calculator {
        margin-left: 78px;
    }

    .button-info{
        left: 110px;
    }
    

    .advantages-after-photo {
        margin: 0px auto;
        margin-top: 20%;
        display: flex;
        flex-direction: column;
    }

    .room-size-input {
        width: 80%;
        padding-left: 3px;
    }
    .social-icons-wrapper a {
        margin-right: 10px;
    }

    .header-wrapper {
        width: 425px;
    }

    .nav-menu {
        display: none;
    }

    .header-content {
        width: 425px;
        flex-direction: column;
    }

    .header-form-wrapper {
        width: 80%;
        margin-top: 40px;
    }

    .info-advantages {
        width: 290px;
    }
    .article-name {
        font-size: 20px;
    }

    .article-info {
        font-size: 17px;
    }

    .container-advantages img {
        width: 400px;
        height: 454px;
    }


    .about-company-numbers {
        flex-direction: column;
        margin: 0px auto;
    }

    .about-company-images {
        max-width: 768px;
    }

    .numbers-block p {
        margin: 0 auto;
    }

    .about-company-numbers {
        margin-top: 230px;
    }

    .about-company-images p {
        margin-top: 0px;
    }

    .remont-types {
        max-width: 425px;
    }

    .remont-types-blocks-wrapper {
        flex-direction: column;
    }

    .remont-types-block-wrapper-one {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .remont-types-block-wrapper-two {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .remont-types-block-wrapper-three {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .free-calculate {
        max-width: 425px;
    }

    .free-calculate-container {
        max-width: 425px;
    }

    .free-calculate-image img {
        width: 405px;
        margin-left: 10px;
    }

    .free-calculate-wrapper .calculator-form-main-wrapper {
        width: 75%;
    }

    .calculator-block {
        max-width: 425px;
    }

    .calculator-form-main-wrapper {
        width: 75%;
    }

    .calculator-form-title {
        font-size: 1.5rem;
    }

    .remont-types-button-portfolio {
        /*margin-left: 32%;*/
    }

    .content-info {
        font-size: 1.5rem;
    }

    .container-partners {
        max-width: 425px;
    }

    .container-partners__info {
        font-family: Circe-Light;
        font-size: 1rem;
        max-width: 400px;
    }

    .map-info {
        width: 405px;
        height: auto;
        padding-left: 20px;
    }

    .map iframe {
        width: 100%;
        margin-left: 0%;
    }

    .dark-background {
        width: 100%;
    }

    .header-bottom {
        max-width: 425px;
    }

    .header-text-description {
        line-height: 20px;
    }

    .free-calculate-header {
        font-size: 1.5rem;
    }

    .free-calculate-text-description {
        font-size: 1rem;
    }

    .remont-types-text-description {
        width: 100%;
    }

    .numbers-block {
        margin-bottom: 15px;
    }

    .bottom-photo {
        left: -70px;
        bottom: 550px;
    }

}

@media (max-width: 425px){
    .button-info{
        left: 60px
    }
    .cancel-portfolio{
        top: 35px;
    }
    .card{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .card-image{
        width: 100%;

    }
    .portfolio-card{
        flex-direction: column;
    }
    .container-portfolio{
        width: 320px;
    }
    .portfolio-card-info-info{
        width: 100%;
        font-size: 1rem;
        margin-bottom: 50px;
    }
    .portfolio-card-title-wrapper {
        width: 80%;
    }
    .portfolio-card-wrapper{
        width: 320px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 0px 10px 1px gray;
        z-index: 5;
        display: none;
        flex-direction: column;
        height: auto;
        margin-top: 50px;

    }
    .portfolio-card-title{
        display: flex;
        font-family: EuropeExt-Bold;
        font-size: .8rem;
    }
    .portfolio-card-title-remont-type{
        font-family: Circe-Light;
        font-size: .7rem;
    }
    .portfolio-card-slider-wrapper{
        width: 100%;
    }
    .portfolio-card-info{
        width: 100%;
    }

    .right-part-calculator{
        margin-left: 0px;
    }

    .header-wrapper {
        max-width: 375px;
    }

    .header-content {
        max-width: 375px;
    }

    .header-form-wrapper {
        width: 70%;
        margin-left: 25px;
    }

    .header-bottom {
        max-width: 375px;
    }

    .header-text-title {
        font-size: 1.5rem;
    }

    .social-icons-wrapper {
        margin-left: 70px;
    }

    .social-icons-wrapper a{
        margin-right: 10px;
    }

    .container-advantages img {
        width: 330px;
        height: 330px;
    }

    .article-info {
        font-size: 15px;
    }
    .article-name {
        font-size: 15px;
    }

    .remont-types {
        max-width: 375px;
    }

    .remont-types-text {
        padding-left: 15px;
    }

    .free-calculate-container {
        max-width: 375px;
    }

    .free-calculate-wrapper .calculator-form-main-wrapper {
        margin-left: 45px;
    }

    .free-calculate {
        max-width: 375px;
    }

    .calculator-block {
        max-width: 375px;
    }

    .calculator-header-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .right-part-calculator {
        width: 100%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
    }

    .left-part-calculator {
        width: 100%;
    }

    .calculator-form-wrapper {
        padding: 0px;
    }

    .calculator-form-main-wrapper {
        width: 100%;
    }

    .form-label {
        width: 98%;
    }

    .remont-types-button-portfolio {
        /*margin-left: 15%;*/
    }

    .container-partners__info {
        font-family: Circe-Light;
        font-size: 1rem;
        max-width: 365px;
    }

    .map-info {
        width: 355px;
        height: auto;
        padding-left: 20px;
    }

    .button-footer {
        width: 225px;
    }

    .button-icons {
        margin-left: 0px;
    }

    .calculator-header {
        width: 100%;
    }

    .calculator-header {
        font-size: 1rem;
    }

    .free-calculate-image img {
        width: 365px;
        margin-left: 10px;
    }

    .bottom-photo {
        left: -70px;
        bottom: 440px;
    }

    .container-describe {
        width: 300px;
        height: 144px;
        margin-bottom: 107px;
    }

    .info-container {
        width: 300px;
    }

    .header-text {
        width: 85%;
    }

    .header-form-wrapper {
        width: 70%;
        margin-left: 40px;
    }

}

@media (max-width: 375px){
    .header-wrapper {
        max-width: 320px;
    }

    .header-content {
        max-width: 320px;
    }

    .header-bottom {
        max-width: 320px;
    }

    .container-name {
        font-size: 1rem;
        width: 100%;
    }

    .info-container {
        height: auto;
    }

    .container-advantages img {
        width: 245px;
        height: 284px;
    }
    .info-advantages {
        width: 285px;
        margin-left: 10px;
    }

    .about-company-images p {
        margin-top: 180%;
    }

    .remont-types {
        max-width: 320px;
    }

    .free-calculate-container {
        max-width: 320px;
    }

    .free-calculate-image img {
        width: 310px;
    }

    .free-calculate-wrapper .calculator-form-main-wrapper {
        margin-left: 18px;
        margin-right: 0px;
    }

    .calculator-block {
        max-width: 320px;
    }

    .card-image {
        width: 320px;
    }

    .dark {
        width: 320px;
    }

    .portfolio-name {
        font-size: 1.4rem;
    }

    .remont-types-button-portfolio {
        /*margin-left: 13%;*/
        margin: 0 auto;
    }

    .content-info {
        font-size: 1.3rem;
    }

    .container-partners__info {
        font-size: 1.2rem;
        max-width: 310px;
    }

    .map-info {
        width: 300px;
        height: auto;
        padding-left: 20px;
    }

    .button-footer {
        width: 170px;
    }

    .button-icons .info-icons {
        margin-left: 0px;
        width: 31px;
        height: 31px;
    }

    .button-footer {
        font-size: 15px;
    }

    .free-calculate {
        max-width: 320px;
    }

    .free-calculate-wrapper .calculator-form-main-wrapper {
        width: 90%;
    }

    .free-calculate-header {
        font-size: 1rem;
    }

    .header-wrapper {
        max-width: 320px;
    }

    .header-text-title {
        font-size: 1rem;
    }

    .info-icons img {
        margin-right: 18px;
    }

}

